data/cboe/market_history_2022.csv
data/cboe/market_history_2023.csv
data/sec/spreads_by_individual_security_2013.zip
data/sec/metrics_by_exchange_q4_2022/etp_cancel_to_trade.csv
data/sec/metrics_by_exchange_q4_2022/etp_hidden_rate.csv
data/sec/metrics_by_exchange_q4_2022/etp_hidden_volume.csv
data/sec/metrics_by_exchange_q4_2022/etp_oddlot_rate.csv
data/sec/metrics_by_exchange_q4_2022/etp_oddlot_volume.csv
data/sec/metrics_by_exchange_q4_2022/etp_stock_timeseries3.csv
data/sec/metrics_by_exchange_q4_2022/etp_trade_volume.csv
data/sec/metrics_by_exchange_q4_2022/readme_ma_exchange.txt
data/sec/metrics_by_exchange_q4_2022/stock_cancel_to_trade.csv
data/sec/metrics_by_exchange_q4_2022/stock_hidden_rate.csv
data/sec/metrics_by_exchange_q4_2022/stock_hidden_volume.csv
data/sec/metrics_by_exchange_q4_2022/stock_oddlot_rate.csv
data/sec/metrics_by_exchange_q4_2022/stock_oddlot_volume.csv
data/sec/metrics_by_exchange_q4_2022/stock_trade_volume.csv
data/sifma/CMFactBook-2022-Website.xlsx
data/sifma/US-Agency-Debt-Statistics-SIFMA.xlsx
data/sifma/US-Asset-Backed-Securities-Statistics-SIFMA.xlsx
data/sifma/US-Corporate-Bonds-Statistics-SIFMA.xlsx
data/sifma/US-Equities-and-Related-Statistics-SIFMA.xlsx
data/sifma/US-Fixed-Income-Securities-Statistics-SIFMA.xlsx
data/sifma/US-Money-Market-Instruments-Statistics-SIFMA.xlsx
data/sifma/US-Mortgage-Backed-Securities-Statistics-SIFMA.xlsx
data/sifma/US-Municipal-Bonds-Statistics-SIFMA.xlsx
data/sifma/US-Repo-Statistics-SIFMA.xlsx
data/sifma/US-Treasury-Securities-Statistics-SIFMA.xlsx
